.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100vw; /* Adjust to your need */
    margin: auto;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }
  
  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }
  
  .carousel-item {
    flex-shrink: 0;
    margin-right: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ensure proper spacing */
  }
  
  .carousel-button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  