:root {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  overflow-x: hidden !important;
  color: #fff;
}

::-webkit-scrollbar {
  /* width: 4px;
  border-radius: 50%; */
  display: none;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 12px;
} */

.title svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: textAnimation 3s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
      stroke-dashoffset: 440;
  }

  80% {
      fill: transparent;
  }

  100% {
      fill: #fff;
      stroke-dashoffset: 0;
  }
}